@import './responsive/mixins.scss';

.result {
    max-width: 1100px;
    margin: 2rem auto;
    background-color: #333;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    @include media-tablet {
        max-width: 700px;
    }

    @include media-mobile {
        max-width: 440px;
    }

    @include media-mobilesmall {
        max-width: 300px;
    }


    &__head{
        font-size: 6rem;
        color: #fff;
        font-weight: 300;
        margin-top: 5rem;

        @include media-tablet {
            font-size: 4rem;
        }

        @include media-mobile {
            font-size: 3rem;
        }

        @include media-mobilesmall {
            font-size: 2.6rem;
            margin-top: 3rem;
        }
    }

    &__description{
        font-size: 2.5rem;
        color: #fff;
        font-weight: 300;
        margin: 3rem 0 5rem 0;

        @include media-tablet {
            font-size: 1.8rem;
        }
        @include media-mobile {
            font-size: 1.4rem;
        }
        @include media-mobilesmall {
            margin: 3rem 0 4rem 0;
            text-align: center;
        }
    }
}