.random-bird{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 7px;

    &__img{
        grid-column: 1/2;
        display: inline-block;
        margin: 2.2rem auto;
        border-radius: 7px;
        width: 200px;
        height: 155px;
    }

    &__audio-block{
        grid-column: 2/6;
    }
}


.audio-block{

    margin-left: 2rem;

    &__bird-name{
        font-size: 2rem;
        color: #fff;
        padding: 2rem 0;
    }

    &__audio{
        margin-top: 2rem;
    }
}

.container {
	margin: 75px auto;
	max-width: 500px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}